
/* our CSS starts from here body ------------------------------------------------------------ */
body {
  padding: 0;
  margin: 0;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 22px;
  line-height: 27px;
  color: #333;
}

.ad {
  padding-top: 6px;
  width: 100%;
  height: 300px;
  background-color: #eee;
  text-align: center;
  font-size: 10px;
  color: #888;
  box-sizing: border-box;
  margin: 3rem 0;
}

figcaption {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 20px;
}

span.ref {
  font-size: 12px;
  color: #888;
}

/* nav bar------------------------------------------------- */

nav {
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  border: 1px solid #c5c5c5;
  display: -webkit-box;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.the-newyork-times {
  height: 50px;
  width: 200px;
}

.top-stripe-left > * {
  margin-left: 20px;
}

nav span {
  font-size: 15px;
  font-weight: bold;
}

.top-stripe-right > * {
  margin-right: 15px;
}

nav button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 4px;
  color: #fff;
  line-height: 11px;
  font-weight: 700;
  font-size: 12px;
  height: 33px;
  padding: 10px;
}

/* The Theory of Inflation (section)------------------------------------------------- */

.inflation-infographic {
  padding: 20% 12.5% 3% 12.5%;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

img[alt="The Universe"] {
  width: 100%;
}

.infographic-container {
  position: absolute;
  top: 150px;
  display: grid;
  grid-template-areas:
    "info1 info2 info3 info4"
    "info5 info6 info7 info8";
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  grid-gap: 155px 30px;
}

#infographic-container {
  position: relative;
}

strong {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.description {
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  color: #666;
}

.inflation-infographic h6 {
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
}

/* Header ------------------------------------------------------------ */

main {
  width: 100%;
  text-align: center;
}

header h1 {
  font-style: italic;
}

header h1 span {
  font-size: 28px;
  display: inline-block;
  width: 400px;
  text-align: left;
}

.article-img {
  margin: 5% 13%;
}

.article-img img {
  width: 100%;
}

/* Main Section --------------------------------------------------------- */

main section {
  max-width: 600px;
  width: 50%;
  margin: auto;
  text-align: left;
}

.list-wrapper li {
  font-size: 12px;
  line-height: 2;
}

section div[class$="bar"] li {
  display: inline-block;
  padding: 0 5px;
}

.lists-container div:last-child li {
  font-size: 10px;
}

.strip-over-lists a {
  color: #567b95;
  float: right;
  font-size: 12px;
}

.last-footnotes ul {
  color: #999;
  display: -webkit-box;
  display: flex;
  font-size: 10px;
  justify-content: space-around;
  margin: 0 10%  40px 11%;
  width: 100%;
  padding-top: 15px;
}

section div[class$="bar"] {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 1em;
}

section .author {
  font-weight: bold;
  font-size: 14px;
}

section .top-bar .date {
  bottom: 16px;
  box-sizing: border-box;
  font-size: 12px;
  padding-bottom: 12px;
  padding-top: 18px;
  position: relative;
}

section div[class$="bar"] ul {
  list-style: none;
  display: inline-block;
}

iframe {
  height: 330px;
  width: 90%;
  margin-left: 5%;
  padding: 30px 0 0 0;
}

img[alt="The Bicep2 Telescope"] {
  width: 720px;
  margin-left: -25%;
}

section div[class$="bar"] li:not(.btn) {
  position: relative;
  bottom: 5px;
}

section div[class$="bar"] li a {
  align-items: center;
  display: flex;
  height: 28px;
  justify-content: space-around;
  width: 28px;
  text-decoration: none;
  color: #000;
}

section div[class$="bar"] li a:hover {
  cursor: pointer;
}

section div[class$="bar"] li:not(.btn) a {
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 4px;
  box-shadow: 0 0 0 18px #eee inset;
}

section div[class$="bar"] li.btn a {
  font-size: 32px;
}

section div[class$="bar"] li:not(.btn) a:hover {
  box-shadow: 0 0 0 1px #eee inset;
}

section div[class$="bar"] li:nth-last-child(1) a::after {
  content: "615";
  position: absolute;
  font-size: 10px;
}

/* after the artice----------------------------------------------------------- */

#grid-boxes {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 5px;
  grid-template-areas:
    "more-in-space most-popular"
    "more-in-space most-popular"
    "editors-picks most-popular";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.more-in-space-container,
.most-popular-container,
.editors-picks-container {
  border-top: 1px solid black;
  padding-top: 20px;
  margin-left: 35px;
}

.more-in-space-container {
  grid-area: more-in-space;
}

.more-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  -webkit-box-pack: justify;
  justify-content: space-between;
  grid-gap: 0 20px;
}

.most-popular-container {
  display: -webkit-box;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  grid-area: most-popular;
  margin: 0 10px 0 20px;
  width: 260px;
}

section h4 {
  font-size: 16px;
  padding-bottom: 15px;
}

.most-popular-container p {
  font-size: 17px;
  padding: 15px 0;
  border-top: 1px solid lightgrey;
}

.editors-picks-container {
  grid-area: editors-picks;
}

.editor-container {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.more-wrapper,
.editor-wrapper,
.more-wrapper img,
.editor-wrapper img {
  height: auto;
  width: 300px;
}

.center {
  justify-self: center;
}

.right {
  justify-self: right;
}

.link-pic-descr {
  text-align: right;
}

.link-pic-title {
  font-size: 18px;
}

.link-pic-title,
.most-popular-container p {
  line-height: 1.3;
  margin: 5px 0;
}

.link-pic-descr,
.link-date {
  color: #999;
  font-size: 10px;
  line-height: 1.5;
}

/* FOOTER----------------------------------------------------------- */

.strip-over-lists::before {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  content: "";
  display: block;
  height: 2px;
  margin: 35px 10px 20px 10px;
}

.strip-over-lists {
  margin: 10px 35px 0 35px;
}

.lists-container {
  border-bottom: 1px solid lightgrey;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 35px;
  padding-bottom: 10px;
}

.lists-container div:last-child {
  border-left: 1px solid lightgrey;
  padding-left: 15px;
}

.list-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

#subscribe li.bold {
  font-size: 15px;
  font-weight: bold;
}

.list-wrapper ul :first-child {
  font-weight: bold;
}

footer:last-child .last-footnotes li:hover {
  color: #999;
  cursor: pointer;
  text-decoration: underline;
}

#subscribe li:nth-child(5) {
  padding-bottom: 10px;
}

#subscribe li:nth-child(8) {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.last-footnotes {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

#subscribe li:nth-child(9) {
  padding-top: 5px;
}

#subscribe li:nth-child(6 - 12) {
  line-height: 2.3;
}

li img[alt="ramdom"] {
  height: 14px;
  width: 14px;
}
