/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* our CSS starts from here body ------------------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
}

/* nav bar------------------------------------------------- */
.ad {
    padding-top: 6px;
    width: 100vw;
    height: 300px;
    background-color: #eee;
    text-align: center;
    font-size: 10px;
    color: #888;
    box-sizing: border-box;
}

nav {
	-webkit-box-align: center;
	align-items: center;
	background-color: white;
    border: 1px solid #c5c5c5;
	display: -webkit-box;
	display: flex;
    height: 50px;
	-webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.top-stripe-left > * {
    margin-left: 20px;
}

nav span {
    font-size: 15px;
    font-weight: bold;
}

.top-stripe-right > * {
    margin-right: 15px;
}

nav button {
    background-color: #567b95;
    border: 1px solid #326891;
    border-radius: 4px;
    color: #fff;
    line-height: 11px;
    font-weight: 700;
    font-size: 12px;
    height: 33px;
    padding: 10px;
}
 
/* The Theory of Inflation (section)------------------------------------------------- */

.inflation-infographic {
    padding-top: 20%;
    padding: 3% 12.5%;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}

img[alt="The Universe"] {
    width: 100%;
}

.infographic-container {
    position: absolute;
    top: 150px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "info1 info2 info3 info4"
    "info5 info6 info7 info8";
	-webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    grid-gap: 155px 30px;  
}

#infographic-container {
    position: relative;
}

strong {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
}

.description {
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
    color: #666;
}

.inflation-infographic h6 {
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 700;
}

/* Header ------------------------------------------------------------*/

main {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-style: italic;
}

header h1 span {
    font-size: 28px;
    display: inline-block;
    width: 400px;
    text-align: left;
}

header figcaption {
    font-size: 14px;
    color: #666;
    text-align: left;
    padding-top: 5px;
}

header figcaption .ref {
    font-size: 12px;
    color: #888;
}

.article-img img {
    width: 100%;
}

/* Main Section ---------------------------------------------------------*/

section {
    max-width: 600px;
    width: 100%;
    margin-left: 300px;
    text-align: left;
    padding-bottom: 2em;
}

section .top-bar{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

section .author {
    font-weight: bold;
    font-size: 14px;
}

section .top-bar .date {
    box-sizing: border-box;
    padding-top: 26px;
    font-size: 12px;
}

section .top-bar ul {
    list-style: none;
    display: inline-block;
}

section .top-bar li {
    display: inline-block;
    padding: 0 5px;
}

section .top-bar li:not(.btn) {
    position: relative;
    bottom: 5px;
}

section .top-bar li a {
    display: flex;
    height: 28px;
    width: 28px;
    justify-content: space-around;
    align-items: center;
}

section .top-bar li:not(.btn) a {
    border-radius: 50%;
    background-color: #eee;
}

section .top-bar li.btn a {
    font-size: 32px;
}

section .top-bar li:nth-last-child(1) a::after {
    content: "615";
    position: absolute;
    font-size: 10px;
}


/* after the artice----------------------------------------------------------- */


#grid-boxes {
	display: grid;
	grid-column: 1 / -1;
	grid-gap: 20px;
	grid-template-areas:
		"more-in-space most-popular"
		"more-in-space most-popular"
		"editors-picks most-popular";
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(3, 1fr);
}

.more-in-space-container,
.most-popular-container,
.editors-picks-container {
	border-top: 1px solid black;
	padding-top: 20px;
}

.more-in-space-container {
	margin: 0 10px 0 35px;
}

.more-container {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.most-popular-container {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	grid-area: most-popular;
	margin-right: 35px;
	max-width: 285px;
}

h4 {
	font-size: 16px;
	padding-bottom: 15px;
}

.most-popular-container p {
	font-size: 17px;
	padding: 15px 0;
	border-top: 1px solid lightgrey;
}

.most-popular-container a:hover {
	opacity: 0.6;
}

.editors-picks-container {
	margin: 0 10px 0 35px;
}

.editor-container {
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.more-wrapper,
.editor-wrapper,
.more-wrapper img,
.editor-wrapper img {
	height: auto;
	width: 230px;
}

.center {
	justify-self: center;
}

.right {
	justify-self: right;
}

.link-pic-descr {
	text-align: right;
}

.link-pic-title {
	font-size: 18px;
}

.link-pic-title,
.most-popular-container p {
	line-height: 1.3;
	margin: 5px 0;
}

.link-pic-descr,
.link-date {
	color: #999;
	font-size: 10px;
	line-height: 1.5;
}


