/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* our CSS starts from here body ------------------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
}

    /* nav bar------------------------------------------------- */

nav {
	-webkit-box-align: center;
	align-items: center;
	background-color: white;
    border: 1px solid #c5c5c5;
	display: -webkit-box;
	display: flex;
    height: 50px;
	-webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.top-stripe-left > * {
    margin-left: 20px;
}

nav span {
    font-size: 15px;
    font-weight: bold;
}

.top-stripe-right > * {
    margin-right: 15px;
}

nav button {
    background-color: #567b95;
    border: 1px solid #326891;
    border-radius: 4px;
    color: #fff;
    line-height: 11px;
    font-weight: 700;
    font-size: 12px;
    height: 33px;
    padding: 10px;
}
 
/* The Theory of Inflation (section)------------------------------------------------- */

.inflation-infographic {
    padding-top: 20%;
    padding: 3% 12.5%;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}

img[alt="The Universe"] {
    width: 100%;
}

.infographic-container {
    position: absolute;
    top: 150px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "info1 info2 info3 info4"
    "info5 info6 info7 info8";
	-webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    grid-gap: 155px 30px;  
}

#infographic-container {
    position: relative;
}

strong {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
}

.description {
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
    color: #666;
}

.inflation-infographic h6 {
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 700;
}